h1 {
  font-size: 20px;
}

header > img {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  border: 5px solid var(--color-primary);
}

header > h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 1em;
  color: var(--color-white);
  padding: 0.3em 0.6em;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.social-container-wrapper { 
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  margin-top: -1.5rem;
  padding: 1em;
}